.wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "header  header  header header header"
    "....... sidebar content content ......."
    "footer  footer  footer footer footer";
  background-color: #fff;
  color: #444;
  .sidebar {
    grid-area: sidebar;
    position: relative;
  }
  ul {
    grid-area: content;
    position: relative;
    display: grid;
    grid-gap: 10px;
  }
}

footer {
  grid-area: footer;
}

header,
footer {
  background-color: #999;
}

input[type="submit"], input[type="button"], button{
  color: white;
  border: $brand-primary solid 2px;
  background-color: $brand-primary;
  padding: 1.2em;
  border-radius: 0;
  &:hover{
    background-color: white;
    color: $brand-primary;

  }
}

label {
  display: block;
}
